.button-icon {
  content: '';
  display: block;
  width: 37px;
  height: 37px;
  border-color: transparent;
  background: url(../../images/delete.svg) center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}