@import '../../assets/scss/mixins';

.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
 }
 
 .search__button {
   margin-left: 5px;
 }

 .categoires {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .categories__list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 10px 30px;
   margin-top: 8px;
  }
  
.category__img {
  max-width: 150px;
  max-height: 150px;
}

.categories__all-products {
  box-shadow: var(--box-shadow);
  padding: 4px 30px;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 600;
  background-color: #ffd344aa;
  border-radius: 6px;
  border: 1px solid #ffd344;
  margin-top: 10px;

}