@import '../../assets/scss/mixins';

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.auth__input {
  box-shadow: var(--box-shadow);
  width: 100%;
}

.auth__input--phone {
  padding: 10px;
  flex: 1 0;
  border: 0.5px solid #ffca05 !important;
}

.auth__input--phone-button {
  border: 0.5px solid #ffca05 !important;
}

.auth__input--phone-dropdown {
  border: 0.5px solid #ffca05 !important;
}

.margin-top {
  margin-top: 15px;
}

.auth__logo {
  width: inherit;
  max-width: 500px;
}

.auth__btn {
  padding: 10px;
  width: 100px;
  height: 35px;
  @include make-font(16, 19);
}