@import "../../assets/scss/main.scss";

.category__img {
  width: 140px;
  height: 140px;
}

.category__name {
  @include make-font(12, 19);
  color: #747474;
  font-weight: 400;
}

.category__btn {
  border: none;
}

.category__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.category__count {
  font-weight: 700;
  @include make-font(12, 19);
}