@import '../../assets/scss/mixins'; 

.order-item {
  background: #FFFFFF;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  padding: 10px 30px;

  margin-bottom: 15px;

  :last-child {
    margin-bottom: 0;
  }
}

.order-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include optimal {
    margin-top: 3px;
  }
}

.order-item__colored {
  color: var(--blue);
}

.order-item__order-id {
  font-weight: 700;
  @include make-font(16, 23);
}

.order-item__amount {
  font-weight: 400;
  @include make-font(16, 20);

  @include optimal {
    @include make-font(14, 20);
  }
}

.order-item__date {
  font-weight: 400;
  @include make-font(16, 20);

  @include optimal {
    @include make-font(14, 20);
  }
}