.main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.main__container {
  padding: 15px;
}

.header {
  border-bottom: 1px solid black;
}

.product__list {
  max-width: 327px;
  margin: 10px auto 0;
  height: 100vh;

  gap: 0 20px;
}