@import '../../assets/scss/mixins';

.category {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__name {
@include make-font(17, 21)
}

.category__count {
@include make-font(14, 15)
}

.category__img {
  object-fit: fill;
  object-position: initial;
  width: 150px;
  height: 150px;
}

.category__img-wrapper {
  overflow: hidden;
  border-radius: 15px;
}