@import '../../assets/scss/mixins.scss';

.btn-primary {
  @include make-font(14, 18);
  font-weight: 500;

  padding: 10px;
  height: 35px;
  width: 80px;
  border: 0.5px solid #ffca05;
  color: #007aff;
  background: transparent;
  border-radius: 1px;
  box-shadow: var(--box-shadow);
  
  display: flex;
  align-items: center;
  justify-content: center;
}