@import "../../assets/scss/mixins.scss";

.cart {
  height: var(--vh);
}

.cart__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.counter {
  display: flex;
  align-self: flex-end;
}

.counter__quantity {
  display: flex;
  align-items: center;
  font-weight: 200;
  @include make-font(15, 18);
  margin: 0 7px;
}

.counter__button {
  width: 25px;
  padding: 15px 10px;
}

.cart__btn--delete {
  align-self: flex-end;
}

.cart__options {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__button--order {
  padding: 17px;

  font-weight: 400;
  @include make-font(15, 18);
}

.cart__info {
  align-self: flex-end;
}

.cart__info--text {
  color: #007aff;
}
