.product__item {
  display: flex;
  flex: 1 0;

  border: 1px solid #999a;
  border-radius: 3%;
  box-shadow: 0 3px 10px #909090;
}

.product__info {
  display: flex;
  flex-direction: column;
}

.product__image {
  width: 100px;
}
