@import "../../assets/scss/main.scss";

.product__item {
  background: #FFFFFF;
  box-shadow: 0px 12px 24px rgba(68, 68, 68, 0.1);
  border-radius: 16px;
  padding: 10px;

  margin-bottom: 15px;

  display: flex;

  :last-child {
    margin-bottom: 0;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
  flex: 1 0;

  margin-left: 13px;
}

.product__name {
  font-weight: 700;
  @include make-font(16, 23);
}

.product__meta {
  margin-bottom: 10px;
}

.product__meta-time {
  font-weight: 200;
  @include make-font(13, 15);
}

.product__meta-rank-image {
  width: 10px;
}

.product__meta-rank {
  font-weight: 200;
  margin-left: 10px;
  @include make-font(13, 15);
}

.product__price {
  font-weight: 400;
  @include make-font(13, 16);
}

.product__btn {
  width: 40px;
  height: 25px;
  border: 0.5px solid #ffca05;
  color: #007aff;
  background: transparent;
  border-radius: 1px;

  display: flex;
  align-items: center;
  justify-content: center;

  @include make-font(12, 15);
  font-weight: 500;
}