@import "../../assets/scss/mixins.scss";

.product-item {
  background: #FFFFFF;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  padding: 10px;

  margin-bottom: 15px;

  display: flex;

  :last-child {
    margin-bottom: 0;
  }
}

.product-item__image-wrapper {
  max-width: 80px;
  max-height: 80px;
  overflow: hidden;
}

.product-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item__container {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: space-around;
  padding-left: 15px;

}

.product-item__info {
  display: flex;
  justify-content: space-between;
}

.product-item__name {
  font-weight: 700;
  @include make-font(16, 23);
}

.product-item__meta-time {
  font-weight: 200;
  @include make-font(13, 15);
}

.product-item__meta-rank-image {
  width: 10px;
}

.product-item__meta-rank {
  font-weight: 200;
  margin-left: 10px;
  @include make-font(13, 15);
}

.product-item__price {
  font-weight: 400;
  @include make-font(13, 16);
}